doctype html
html           
  head
    
    title Harry Dance Academy   #{title}
    style 
      include ../static/base.css
      
    block scripts
    block style 
      
    body
      nav#navbar
         ul 

            
            li #[a(href= "/" ) Home] 
            li #[a(href= "/feedback" ) Feedback]
            li #[a(href= "/contact" ) Ebooks]
            
            
            
    block content
 
  footer#footer &copy; www.HarryDanceSchool.com 
      span | All Rights Reserved.
       




















