extends base.pug

block style 
    style 
        include ../static/index.css

block content 
    div#homeContainer
        div#home
            p Increase Your Knowledge by reading Ebooks!
            
            button.btn Read For FREE 
        div#imgEbook
            img(src="https://images.unsplash.com/photo-1609895314390-cb64c186466a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZWJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60", alt="")
                        
            
